@use '@/app/styles/helpers' as *;
@use '@/app/styles/mixins' as *;

.root {
  @include flex($justify: null);

  height: em(36);
  padding: 0 em(12);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &:hover {
    background-color: var(--color-dark-700);
    border-color: var(--color-dark-100);
  }

  &:focus-within {
    border-color: var(--color-light-100);
    outline: none;
  }

  &Error {
    border-color: var(--color-danger-300);

    &:hover {
      border-color: var(--color-danger-300);
    }

    &:focus-within {
      border-color: var(--color-danger-100);
    }
  }

  &Disabled {
    pointer-events: none;
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);

    &:hover {
      background-color: transparent;
      border-color: var(--color-dark-300);
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: var(--color-dark-100);
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &Error::placeholder {
    color: var(--color-danger-300);
  }

  &Disabled::placeholder {
    color: var(--color-dark-300);
  }
}
