@use '../../styles/mixins' as *;
@use '../../styles/helpers' as *;

.wrapper {
  display: inline-flex;
  align-items: center;
}

.root {
  @include flex;

  cursor: pointer;

  width: em(36);
  height: em(36);
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active,
  &:focus-visible {
    background-color: var(--color-dark-100);
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: default;
    background-color: transparent;
  }
}

.indicatorWrapper {
  position: relative;

  width: em(24);
  height: em(24);

  border-radius: 5px;
  outline: em(2) solid var(--color-light-900);
  outline-offset: -#{em(5)};

  [data-state='checked'] > & {
    outline: none;
  }
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  &[data-disabled] {
    color: var(--color-dark-100);
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.label {
  cursor: pointer;
  margin-left: em(8);

  [data-disabled] + & {
    pointer-events: none;
    cursor: default;
    color: var(--color-dark-100);
  }
}
